body{
    background-image:url("image/47035045-industrial-brick-wall-best-background-texture-close.jpg");
    color:white;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.satya
{
	padding-left:45%;
	padding-top:10%;
	
}

.button {
background: #0066A2;
color: white;
border-style: outset;
border-color: #0066A2;
height: 50px;
width: 100px;
 border-radius: 10px;
font: bold 15px arial, sans-serif;
text-shadow:black;

}


.defaultTextBox{
    padding: 3;
    height: 50px;
    position: relative;
    background-color: black;
    font-size: 16px;
	border-radius: 10px;
	color:white;
}

h1	{
color:hsl(0, 20%, 50%);
font-family:  sans-serif;
font-size: 75px;
font-weight: bold;


}
.chinna{
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
	text-decoration: none;
}
p
{
	 font-weight: bold;
	 color: white;
	 font-size: 75px;
}
